<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1069545628321-bus9jql4jjlto9m3humislpjs7qm6gcc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1069545628321-bus9jql4jjlto9m3humislpjs7qm6gcc</string>
	<key>API_KEY</key>
	<string>AIzaSyCTUv-Y2dJvgj5nyrChHs3EfF_odK3G79s</string>
	<key>GCM_SENDER_ID</key>
	<string>1069545628321</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.TGFirebaseTest.list</string>
	<key>PROJECT_ID</key>
	<string>ygfirebasetest</string>
	<key>STORAGE_BUCKET</key>
	<string>ygfirebasetest.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1069545628321:ios:19614d3b861698ad8b06e0</string>
</dict>
</plist>